.idea/
tmp/
out/
hybris/*
!hybris/bin/
hybris/bin/*
!hybris/bin/custom/
!hybris/config/
!hybris/roles/
hybris/roles/local/tklostermann
**/classes/
**/testclasses/
**/gensrc/
**/eclipsebin/
**/.metadata/
**/hmc/bin/
**/webroot/cockpit/
**/webroot/cmscockpit/
**/addonsrc/
**/commonwebsrc/
**/_ui/addons/
**/messages/addons/
**/tags/addons/
**/views/addons/
**/tld/addons/
**/target/
**/.externalToolBuilders
**/.idea
**/.gradle
**/.settings
**/idea-module-files
**/node_modules
**/_ui-src/addons/
**/hsperfdata_*

# ----------------------------------------#
#                   Files:                #
# ----------------------------------------#

**/platformhome.properties
**/beans.xsd
**/items.xsd
**/hmc.xsd
**/extensioninfo.xsd
**/build.xml
**/dummy.txt
**/wro_addons.xml
**/css/style.css
**/*-testclasses.xml
**/*-webtestclasses.xml
**/generated-*-spring.xml
**/*-beans.out.xml
**/*.css.map
**/*.log
**/*.iml
**/*.eml
**/*.prefs
**/*.class
**/*.lo
**/*.jcoDestination
**/.lastupdate
**/worldpayaddonbackoffice_bof.jar
