.idea/
tmp/
out/

**/classes/
**/testclasses/
**/gensrc/
**/eclipsebin/
**/.metadata/
**/hmc/bin/
**/webroot/cockpit/
**/webroot/cmscockpit/
**/addonsrc/
**/commonwebsrc/
**/_ui/addons/
**/messages/addons/
**/tags/addons/
**/views/addons/
**/tld/addons/
**/target/
**/.externalToolBuilders
**/.idea
**/.gradle
**/.settings
**/idea-module-files
**/node_modules
hybris/*
!hybris/bin/
hybris/bin/*
!hybris/bin/custom/
!hybris/config/
!hybris/roles/

# ----------------------------------------#
#                   Files:                #
# ----------------------------------------#

**/platformhome.properties
**/beans.xsd
**/items.xsd
**/hmc.xsd
**/extensioninfo.xsd
**/build.xml
**/*-testclasses.xml
**/*-webtestclasses.xml
**/generated-*-spring.xml
**/*-beans.out.xml
**/*.css.map
**/*.log
**/*.iml
**/*.eml
**/*.prefs
**/*.class
**/*.lo
**/*.jcoDestination
**/.lastupdate
**/dummy.txt
/hybris/roles/local/tklostermann
/hybris/bin/custom/springer/springercockpits/gensrc
/hybris/bin/custom/springer/springercore/gensrc
/hybris/bin/custom/springer/springerfacades/gensrc
/hybris/bin/custom/springer/springerinitialdata/gensrc
/hybris/bin/custom/springer/springertest/gensrc
/hybris/bin/custom/springer/springersaporderfulfilment/gensrc
/hybris/config/solr/instances/default/hsperfdata_tklostermann
